/* Eliminar margenes y padding del documento */
* {
    margin: 0;
    padding: 0;
}

/* Header visible en todas las páginas */
header {
    background: linear-gradient(to right, #0097b2 45%, #7ed957 75%, #0097b2 100%);
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between; /* Ajuste horizontal de los elementos*/
    align-items: center; /* Alinear elementos verticalmente */
}

/* Ajuste del tamaño del a imagen */
header img {
    height: 80px;
    width: auto;
}

/* Color del título del header */
header h1 {
    color: white;
}

nav {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    gap: 10px;
}

nav a {
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: transparent;
    flex: 1; /* Hacer que ocupen el mismo tamaño*/
    background: transparent;
    color: black;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav a:hover {
    background: #ececec;
    border-style: solid;
    border-width: 5px 0 0 0;
    border-image: linear-gradient(to right, #0097b2 45%, #7ed957 75%, #0097b2 100%);
    border-image-slice: 1;
}