.navbar {
    background: linear-gradient(to right, #0f4792, #0097b2, #57cdd9, #0097b2);
}

.navbar-brand {
    color: white !important;
}

.navbar img {
    width: 80px;
    height: auto;
    margin-right: 3%;
}

.montserrat-title-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em !important;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.navbar-user-container {
    display: flex;
    flex-direction: column;
    color: white !important;
}

.login-button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;

    /* Reservamos el espacio del bold para que no se mueva */
    font-weight: normal;
    transition: font-weight 0.2s ease, color 0.2s ease;
}

.login-button:hover {
    font-weight: bold;
}
