.navbar {
    background: linear-gradient(to right, #0f4792, #0097b2, #57cdd9, #0097b2);
}

.navbar-brand {
    color: white !important;
}

.navbar img {
    width: 80px;
    height: auto;
    margin-right: 3%;
}

.montserrat-title-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.navbar-user-container {
    display: flex;
    flex-direction: column;
    color: white !important;
    align-items: stretch;
    transition: all 0.5s ease-in-out;
}

.login-button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;

    transition: all 0.15s ease;
}

.login-button:hover {
    transform: scale(1.05);
}

.btn {
    color: white !important;
    border-color: transparent !important;

    transition: all 0.15s ease !important;
}

.btn:hover {
    transform: scale(1.05);
}

.dropdown-item:active {
    background: #57cdd9 !important;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
}
