.table-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    max-width: 90%;
  }
  
  .table-header {
    background-color: #007bff; /* azul */
    color: white;
    padding: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .data-table-wrapper {
    padding: 16px;
  }
  
  .card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;

}

img{
    width: 100px;
}
.card-uno {
    background-color: #42992c;
    color: #ffffff;
    display: flex;           /* ✅ Esto alinea imagen y texto en fila */
    align-items: center;     /* Centra verticalmente */
    padding: 16px;
    border-radius: 12px;
    margin-left: 40px;       /* Para mover la tarjeta a la derecha */
}

.card-dos {
    background-color:  #99532c;;
    color: #ffffff;
    display: flex;           /* ✅ Esto alinea imagen y texto en fila */
    align-items: center;     /* Centra verticalmente */
    padding: 16px;
    border-radius: 12px;
    margin-left: 40px;       /* Para mover la tarjeta a la derecha */
}

.card-tres {
    background-color: #97992c;
    color: #ffffff;
    display: flex;           /* ✅ Esto alinea imagen y texto en fila */
    align-items: center;     /* Centra verticalmente */
    padding: 16px;
    border-radius: 12px;
    margin-left: 40px;       /* Para mover la tarjeta a la derecha */
}